

<nav class="hoverme">
  <ul>
    <li><a href="/users/new" id='sign up' name='sign up'>Sign up</a></li>
  </ul>
</nav>

<h2>Please Login</h2> 

<form action="/users" id="username" method="post"></form>
  Email: <input name="username" type="text">
  Password: <input name="password" type="password">
  <input type="submit" id="submit" value="Sign in">
</form>