<li><a href="/sessions/logout" id='sign up' name='sign-out'>Sign out</a></li>

<!-- <h1 id ="balance"><%=@balance%></h1> -->

<ul id="investments">

<h1> Investment Page </h1>
<div>
  <% if @investments.any? %>
       <% @investments.reverse.each do |investment| %>       
         <pre><ul><%= investment.price %> </ul>
          <ul><%= @assets[investment.asset_id-1].name %>  </ul></pre>
      

       <% end %>
  <% else %>
      <p> No investments have been created yet </p>
  <% end %>
</div> 